<h1>Listing players</h1>

<table>
  <thead>
    <tr>
      <th>ESPN ID</th>
      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
      <th>Stat</th>
      <th>Projection</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.player_id %></td>
        <td><%= player.name %></td>
        <td><%= player.position %></td>
        <td><%= player.team %></td>
        <td><%= player.stats %></td>
        <td><%= player.proj %></td>
      </tr>
    <% end %>
  </tbody>
</table>

